{#
/**
 * @file
 * Default theme implementation to present an artist entity.
 *
 * This template is used when viewing a canonical artist page,
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 *   print a subset such as 'content.label'.
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_artist()
 */
#}
<article{{ attributes }}>
  {% if view_mode != 'full' %}
    {{ title_prefix }}
    {{ title_suffix }}
  {% endif %}
  {% if content %}
      <div class="container flex content artist">
          <div class="cover basis-1/2 p-4">
              {{ content.field_cover }}
              {{ content.field_cover_caption }}
          </div>
          <div class="details basis-1/2 p-4">
              {% if content.label %}
                  <div class="item title name">
                      <h1>{{ content.label }}</h1>
                  </div>
              {% endif %}
              {% if content.field_full_name.0 %}
                  <div class="item full_name">
                      <h2>{{ 'Full name'|t }}</h2>
                      {{ content.field_full_name }}
                  </div>
              {% endif %}
              {% if content.field_nationality.0 %}
                  <div class="item nationality">
                      <h2>{{ 'Nationality'|t }}</h2>
                      {{ content.field_nationality }}
                  </div>
              {% endif %}
              {% if content.field_birth_year.0 %}
                  <div class="item birth_year">
                      <h2>{{ 'Birth year'|t }}</h2>
                      {{ content.field_birth_year }}
                  </div>
              {% endif %}
              {% if content.field_death_year.0 %}
                  <div class="item death_year">
                      <h2>{{ 'Death year'|t }}</h2>
                      {{ content.field_death_year }}
                  </div>
              {% endif %}
              {% if content.description.0 %}
                  <div class="item description">
                      <h2>{{ 'Notes'|t }}</h2>
                      {{ content.description }}
                  </div>
              {% endif %}
              {% if content.field_more_info.0 %}
                  <div class="item more_info">
                      <a href="{{ content.field_more_info.0 }}">{{ 'More info'|t }}</a>
                  </div>
              {% endif %}
          </div>
      </div>
      {% if related_artworks is not empty %}
          <div class="related-content">
              <div class="artworks">
                  <h2>{{ 'Oeuvres par cet artiste'|t }}</h2>
                  {{ related_artworks }}
              </div>
          </div>
      {% endif %}
  {% endif %}
</article>
