{#
/**
 * @file
 * Default theme implementation to present an artist entity.
 *
 * This template is used when viewing a canonical artist page,
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 *   print a subset such as 'content.label'.
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_artist()
 */
#}
<article{{ attributes }}>
    {% if view_mode != 'full' %}
        {{ title_prefix }}
        {{ title_suffix }}
    {% endif %}
    {% if content %}
        <div class="content artist">
            {{ include('egam:illustration_container', {
                cover: content.field_cover,
                title: content.label,
                notes: content.field_cover_caption,
                show_notes_heading: false,
            }) }}
            <div class="details">
                <div class="title hidden md:block">
                    {% if content.label %}
                        <div class="item name">
                            <h1>{{ content.label }}</h1>
                        </div>
                    {% endif %}
                </div>
                <table class="infos">
                    {% if content.field_full_name.0 %}
                        <tr class="item full_name">
                            <th scope="row">{{ 'Full name'|t }}</th>
                            <td>{{ content.field_full_name }}</td>
                        </tr>
                    {% endif %}
                    {% if content.field_nickname.0 %}
                        <tr class="item nickname">
                            <th scope="row">{{ 'Nickname'|t }}</th>
                            <td>{{ content.field_nickname }}
                            <td>
                        </tr>
                    {% endif %}
                    {% if content.field_nationality.0 %}
                        <tr class="item nationality">
                            <th scope="row">{{ 'Nationality'|t }}</th>
                            <td>{{ content.field_nationality }}</td>
                        </tr>
                    {% endif %}
                    {% if content.field_activity.0 %}
                        <tr class="item activity">
                            <th scope="row">{{ 'Activity'|t }}</th>
                            <td>{{ content.field_activity }}</td>
                        </tr>
                    {% endif %}
                    {% if content.field_birth_year.0 %}
                        <tr class="item birth_year">
                            <th scope="row">{{ 'Birth year'|t }}</th>
                            <td>{{ content.field_birth_year }}</td>
                        </tr>
                    {% endif %}
                    {% if content.field_death_year.0 %}
                        <tr class="item death_year">
                            <th scope="row">{{ 'Death year'|t }}</th>
                            <td>{{ content.field_death_year }}</td>
                        </tr>
                    {% endif %}
                    {% if content.description.0 %}
                        <tr class="item description">
                            <th scope="row">{{ 'Notes'|t }}</th>
                            <td>{{ content.description }}</td>
                        </tr>
                    {% endif %}
                    {% if content.field_more_info.0 %}
                        <tr class="item more_info">
                            <th scope="row">{{ content.field_more_info }}</th>
                        </tr>
                    {% endif %}
                </table>
            </div>
        </div>
        {% if related_artworks is not empty %}
            <div class="container related-content">
                <h2>{{ multiple_content ? 'Œuvres citées dans des jeux vidéo :'|t : 'Œuvre citée dans des jeux vidéo :'|t}}</h2>
                <div class="items artworks">
                    {{ related_artworks }}
                </div>
            </div>
        {% endif %}
    {% endif %}
</article>
