{% if multiple %}
    <div{{ attributes.addClass('swiper-container', 'main-swiper') }}>
        <div class="swiper-wrapper">
        {% for item in items %}
            <div{{ item.attributes.addClass('swiper-slide') }}>{{ item.content }}</div>
        {% endfor %}
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>

    <div{{ attributes.addClass('thumb-swiper', 'slides-multiple').removeClass('main-swiper') }}>
        <div class="swiper-wrapper">
            {% for item in items %}
                {% set img_src = file_url(item.content['#media'].field_media_image.0.entity.uri.value) %}
                <div{{ item.attributes.addClass('swiper-slide') }}>
                    <img src="{{ img_src }}" alt="{{ item.content['#media'].field_media_image.0.alt }}">
                </div>
            {% endfor %}
        </div>
    </div>
{% else %}
    {% for item in items %}
        <div{{ attributes }}>{{ item.content }}</div>
    {% endfor %}
{% endif %}