<div class="illustration-container">
    <div class="cover lightbox">
        {% if title is not empty %}
            <div class="title md:hidden">
                <div class="item name">
                    <h1>{{ title }}</h1>
                </div>
            </div>
        {% endif %}
        {{ cover }}
    </div>
    {% if notes.0 %}
        {% if show_notes_heading is not same as(false) %}
            <div class="item description">
                <h2>{{ 'Notes'|t }}</h2>
                <div>{{ notes }}</div>
            </div>
        {% else %}
            <p class="mt-2">{{ notes }}</p>
        {% endif %}
    {% endif %}
</div>