{#
/**
 * @file
 * Default theme implementation to present a museum entity.
 *
 * This template is used when viewing a canonical museum page,
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 *   print a subset such as 'content.label'.
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_museum()
 */
#}
<article{{ attributes.addClass('screenshot', 'w-60', view_mode) }}>
    {% if view_mode != 'full' %}
        {{ title_prefix }}
        {{ title_suffix }}
    {% endif %}
    {% if content %}
        <div class="cover">
            {% if content.field_thumbnail.0 is not empty %}
                {{ content.field_thumbnail }}
            {% else %}
                {{ content.field_cover }}
            {% endif %}
        </div>
        <div class="label">
            <a href="{{ content.label.0['#url'] }}">{{ context_title|raw }}</a>
        </div>
    {% endif %}
</article>
