{#
/**
 * @file
 * Default theme implementation to present a screenshot entity.
 *
 * This template is used when viewing a canonical screenshot page,
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 *   print a subset such as 'content.label'.
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_screenshot()
 */
#}
<article{{ attributes }}>
  {% if view_mode != 'full' %}
    {{ title_prefix }}
    {{ title_suffix }}
  {% endif %}
  {% if content %}
      {% set date = content.field_game.0.entity %}
      {% set dev = content.field_game.entity.field_developer.value %}
      <div class="container flex content screenshot">
          <div class="cover basis-1/2">
              {{ content.field_cover }}
          </div>
          <div class="details basis-1/2">
              <table class="infos">
                  {% if content.field_game.0 %}
                      <tr class="item game">
                          <th scope="row">{{ 'Game'|t }}</th>
                          <td>{{ content.field_game }}</td>
                      </tr>
                  {% endif %}

                  {% if game_date %}
                      <tr class="item date">
                          <th scope="row">{{ 'Date'|t }}</th>
                          <td>{{ game_date }}</td>
                      </tr>
                  {% endif %}

                  {% if game_developer %}
                      <tr class="item developer">
                          <th scope="row">{{ 'Developer'|t }}</th>
                          <td>{{ game_developer }}</td>
                      </tr>
                  {% endif %}

                  {% if content.description.0 %}
                      <tr class="item description">
                          <th scope="row">{{ 'Notes'|t }}</th>
                          <td>{{ content.description }}</td>
                      </tr>
                  {% endif %}

                  {% if content.field_more_info.0 %}
                      <tr class="item more_info">
                          <td>{{ content.field_more_info }}</td>
                      </tr>
                  {% endif %}
              </table>
          </div>
      </div>
      {% if content.field_artwork.0 %}
          <div class="container related-content">
              <h2>{{ 'Oeuvre(s) présente(s) dans cette image :'|t }}</h2>
              <div class="items artwork grid grid-cols-3 gap-4">
                  {{ content.field_artwork }}
              </div>
          </div>

      {% endif %}
  {% endif %}
</article>
