{#
/**
 * @file
 * Default theme implementation to present a screenshot entity.
 *
 * This template is used when viewing a canonical screenshot page,
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 *   print a subset such as 'content.label'.
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_screenshot()
 */
#}
<article{{ attributes }}>
  {% if view_mode != 'full' %}
    {{ title_prefix }}
    {{ title_suffix }}
  {% endif %}
  {% if content %}
      {% set date = content.field_game.0.entity %}
      {% set dev = content.field_game.entity.field_developer.value %}
      <div class="content screenshot">
          {{ include('egam:illustration_container', {
              notes: content.description,
          }) }}
          <div class="details">
              <table class="infos">
                  {% if content.field_game.0 %}
                      <tr class="item game">
                          <th scope="row">{{ 'Game'|t }}</th>
                          <td>{{ content.field_game }}</td>
                      </tr>
                  {% endif %}

                  {% if game_date %}
                      <tr class="item date">
                          <th scope="row">{{ 'Date'|t }}</th>
                          <td>{{ game_date }}</td>
                      </tr>
                  {% endif %}

                  {% if game_developer %}
                      <tr class="item developer">
                          <th scope="row">{{ 'Developer'|t }}</th>
                          {# Currently no link - [0]['#title'] to remove when taxonomy page is live #}
                          <td>{{ game_developer[0]['#title'] }}</td>
                      </tr>
                  {% endif %}

                  {% if game_editor %}
                      <tr class="item editor">
                          <th scope="row">{{ 'Editor'|t }}</th>
                          {# Currently no link - [0]['#title'] to remove when taxonomy page is live #}
                          <td>{{ game_editor[0]['#title'] }}</td>
                      </tr>
                  {% endif %}

                  {% if content.field_more_info.0 %}
                      <tr class="item more_info">
                          <th scope="row">{{ content.field_more_info }}</th>
                      </tr>
                  {% endif %}
                      <tr class="item swiper-container main-swiper">
                          <th scope="row" class="swiper-slide"></th>
                      </tr>
              </table>
          </div>
      </div>
      {% if content.field_artwork.0 %}
          <div class="container related-content">
              <h2>{{ multiple_related_artworks ? 'Œuvres présentes dans cette image :'|t : 'Œuvre présente dans cette image :'|t }}</h2>
              <div class="items artworks">
                  {{ content.field_artwork }}
              </div>
          </div>
      {% endif %}
  {% endif %}
</article>
