{#
/**
 * @file
 * Default theme implementation to present a museum entity.
 *
 * This template is used when viewing a canonical museum page,
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 *   print a subset such as 'content.label'.
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_museum()
 */
#}
<article{{ attributes }}>
  {% if view_mode != 'full' %}
    {{ title_prefix }}
    {{ title_suffix }}
  {% endif %}
  {% if content %}
      <div class="container flex flex-wrap content museum">
          <div class="cover basis-1/2">
              {{ content.field_cover }}
          </div>
          <div class="details basis-1/2">
              <div class="title">
                  {% if content.label %}
                      <div class="item name">
                          <h1>{{ content.label }}</h1>
                      </div>
                  {% endif %}
              </div>
              <table class="infos">
              {% if content.field_location.0 %}
                  <tr class="item location">
                      <th scope="row">{{ 'Location'|t }}</th>
                      <td>{{ content.field_location }}</td>
                  </tr>
              {% endif %}
              {% if content.field_website.0 %}
                  <tr class="item website">
                      <th scope="row">{{ 'Website'|t }}</th>
                      <td>{{ content.field_website }}</td>
                  </tr>
              {% endif %}
              {% if content.description.0 %}
                  <tr class="item description">
                      <th scope="row">{{ 'Notes'|t }}</th>
                      <td>{{ content.description }}</td>
                  </tr>
              {% endif %}
              {% if content.field_more_info.0 %}
                  <tr class="item more_info">
                      <th scope="row">{{ content.field_more_info }}</th>
                  </tr>
              {% endif %}
              </table>
          </div>
      </div>
      {% if related_artworks is not empty %}
      <div class="container related-content">
          <h2>{{ 'Oeuvres présentes dans ce musée :'|t }}</h2>
          <div class="items artwork grid grid-cols-3 gap-4">
              {{ related_artworks }}
          </div>
      </div>
      {% endif %}
  {% endif %}
</article>
