{#
/**
 * @file
 * Default theme implementation to present an artwork entity.
 *
 * This template is used when viewing a canonical artwork page,
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 *   print a subset such as 'content.label'.
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_artwork()
 */
#}
<article{{ attributes }}>
  {% if view_mode != 'full' %}
    {{ title_prefix }}
    {{ title_suffix }}
  {% endif %}
  {% if content %}
      <div class="container flex content artwork">
          <div class="cover basis-1/2 p-4">
              {{ content.field_cover }}
          </div>
          <div class="details basis-1/2 p-4">
              {% if content.field_artist.0 %}
                  <div class="item artist">
                      <h2>{{ 'Artist'|t }}</h2>
                      {{ content.field_artist }}
                  </div>
              {% endif %}
              {% if content.field_date.0 %}
                  <div class="item date">
                      <h2>{{ 'Date'|t }}</h2>
                      {{ content.field_date }}
                  </div>
              {% endif %}
              {% if content.field_museum.0 %}
                  <div class="item museum">
                      <h2>{{ 'Museum'|t }}</h2>
                      {{ content.field_museum }}
                  </div>
              {% endif %}
          </div>
      </div>
  {% endif %}
</article>
