{#
/**
 * @file
 * Default theme implementation to present an artwork entity.
 *
 * This template is used when viewing a canonical artwork page,
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 *   print a subset such as 'content.label'.
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_artwork()
 */
#}
<article{{ attributes }}>
  {% if view_mode != 'full' %}
    {{ title_prefix }}
    {{ title_suffix }}
  {% endif %}
  {% if content %}
      <div class="container flex content artwork mb-5">
          <div class="cover basis-1/2">
              {{ content.field_cover }}
          </div>
          <div class="details basis-1/2 pl-4">
              {% if content.label %}
                  <div class="item title label">
                      {{ content.label }}
                  </div>
              {% endif %}
              {% if content.field_alternative_title.0 %}
                  <div class="item alternative_title">
                      <h2>{{ 'Alternative title'|t }}</h2>
                      {{ content.field_alternative_title }}
                  </div>
              {% endif %}
              {% if content.field_artist.0 %}
                  <div class="item artist">
                      <h2>{{ 'Artist'|t }}</h2>
                      {{ content.field_artist }}
                  </div>
              {% endif %}
              {% if content.field_date.0 %}
                  <div class="item date">
                      <h2>{{ 'Date'|t }}</h2>
                      {{ content.field_date }}
                  </div>
              {% endif %}
              {% if content.field_medium.0 %}
                  <div class="item medium">
                      <h2>{{ 'Technique'|t }}</h2>
                      {{ content.field_medium }}
                  </div>
              {% endif %}
              {% if content.field_dimensions.0 %}
                  <div class="item dimensions">
                      <h2>{{ 'Dimensions'|t }}</h2>
                      {{ content.field_dimensions }}
                  </div>
              {% endif %}
              {% if content.field_subject.0 %}
                  <div class="item subject">
                      <h2>{{ 'Sujet'|t }}</h2>
                      {{ content.field_subject }}
                  </div>
              {% endif %}
              {% if content.field_museum.0 %}
                  <div class="item museum">
                      <h2>{{ 'Museum'|t }}</h2>
                      {{ content.field_museum }}
                  </div>
              {% endif %}
              {% if content.description.0 %}
                  <div class="item description">
                      <h2>{{ 'Notes'|t }}</h2>
                      {{ content.description }}
                  </div>
              {% endif %}
              {% if content.field_more_info.0 %}
                  <div class="item more_info">
                      <a href="{{ content.field_more_info.0 }}">{{ 'More info'|t }}</a>
                  </div>
              {% endif %}
          </div>
      </div>
      {% if related_games is not empty %}
      <div class="container">
          <h2>{{ 'Cette oeuvre apparait dans les jeux suivants : '|t }}</h2>
          <div class="related-games grid grid-cols-3 gap-4">
              {{ related_games }}
          </div>
      </div>
      {% endif %}
  {% endif %}
</article>
