{#
/**
 * @file
 * Default theme implementation to present an artwork entity.
 *
 * This template is used when viewing a canonical artwork page,
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 *   print a subset such as 'content.label'.
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_artwork()
 */
#}
<article{{ attributes }}>
    {% if view_mode != 'full' %}
        {{ title_prefix }}
        {{ title_suffix }}
    {% endif %}

    {% if content %}
        <div class="content artwork mb-5">
            <div class="cover lightbox">
                <div class="title md:hidden">
                    {% if content.label %}
                        <div class="item name">
                            <h1>{{ content.label }}</h1>
                        </div>
                    {% endif %}
                </div>
                {{ content.field_cover }}
                {% if content.description.0 %}
                    <div class="item description">
                        <h2>{{ 'Notes'|t }}</h2>
                        <div>{{ content.description }}</div>
                    </div>
                {% endif %}
            </div>
            <div class="details">
                <div class="title hidden md:block">
                    {% if content.label %}
                        <div class="item name">
                            <h1>{{ content.label }}</h1>
                        </div>
                    {% endif %}
                </div>
                <table class="infos">
                    {% if content.field_original_title.0 %}
                        <tr class="item original_title">
                            <th scope="row">{{ 'Original title'|t }}</th>
                            <td>{{ content.field_original_title }}</td>
                        </tr>
                    {% endif %}
                    {% if content.field_alternative_title.0 %}
                        <tr class="item alternative_title">
                            <th scope="row">{{ 'Alternative title'|t }}</th>
                            <td>{{ content.field_alternative_title }}</td>
                        </tr>
                    {% endif %}
                    {% if content.field_artist.0 %}
                        <tr class="item artist">
                            <th scope="row">{{ 'Artist'|t }}</th>
                            <td>
                                {{ full_artist|raw }}
                            </td>
                        </tr>
                    {% endif %}
                    {% if content.field_date.0 %}
                        <tr class="item date">
                            <th scope="row">{{ 'Date'|t }}</th>
                            <td>{{ content.field_date }}</td>
                        </tr>
                    {% endif %}
                    {% if content.field_medium.0 %}
                        <tr class="item medium">
                            <th scope="row">{{ 'Technique'|t }}</th>
                            <td>{{ content.field_medium }}</td>
                        </tr>
                    {% endif %}
                    {% if content.field_dimensions.0 %}
                        <tr class="item dimensions">
                            <th scope="row">{{ 'Dimensions'|t }}</th>
                            <td>{{ content.field_dimensions }}</td>
                        </tr>
                    {% endif %}
                    {% if full_location_link %}
                        <tr class="item museum">
                            <th scope="row">{{ 'Conservation location'|t }}</th>
                            <td>{{ full_location_link|raw }}</td>
                        </tr>
                    {% endif %}
                    {% if content.field_more_info.0 %}
                        <tr class="item more_info">
                            <th scope="row">{{ content.field_more_info }}</th>
                        </tr>
                    {% endif %}
                </table>
            </div>
        </div>
        {% if related_games is not empty %}
            <div class="container related-content">
                <h2>{{ multiple_content ? 'Cette œuvre apparait dans les jeux suivants :'|t : 'Cette œuvre apparait dans le jeu suivant :'|t }}</h2>
                <div class="items games">
                    {{ related_games }}
                </div>
            </div>
        {% endif %}
    {% endif %}
</article>
