{#
/**
 * @file
 * Default theme implementation to present a game entity.
 *
 * This template is used when viewing a canonical game page,
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 *   print a subset such as 'content.label'.
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_game()
 */
#}
<article{{ attributes }}>
  {% if view_mode != 'full' %}
    {{ title_prefix }}
    {{ title_suffix }}
  {% endif %}
  {% if content %}
      <div class="container flex content game">
          <div class="cover basis-1/2">
              {{ content.field_cover }}
          </div>
          <table class="details basis-1/2 pl-4">
              {% if content.field_date.0 %}
                  <tr class="item date">
                      <th scope="row">{{ 'Date'|t }}</th>
                      <td>{{ content.field_date }}</td>
                  </tr>
              {% endif %}
              {% if content.field_developer.0 %}
                  <tr class="item developer">
                      <th scope="row">{{ 'Développeur'|t }}</th>
                      <td>{{ content.field_developer }}</td>
                  </tr>
              {% endif %}
              {% if content.field_editor.0 %}
                  <tr class="item editor">
                      <th scope="row">{{ 'Éditeur'|t }}</th>
                      <td>{{ content.field_editor }}</td>
                  </tr>
              {% endif %}
          </table>
      </div>
      {% if related_artworks is not empty %}
      <div class="container">
          {{ related_artworks }}
      </div>
      {% endif %}
  {% endif %}
</article>
